.clip-group-name-label {
	cursor:pointer;
	background-color: #134F5C;
	color: white;
	padding: 8px;
	border-style: solid;
	border-color: black;
	width: auto;
	display: block;
	border-radius: 1px 1px 1px 0px;
	size: 14px;
	margin: 0px 0px 8px 0px;
}
